<style>
    body {
        background-color: #f4f4f4;
        padding: 20px;
    }

    .product-card {
        padding: 15px;
        margin-bottom: 20px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .product-img {
        max-width: 100px;
        max-height: 100px;
    }

    p {
        display: inline;

    }

    h4 {
        display: inline;
    }
    h1{
        font-style: italic;
    }
</style>
</head>

<body>
    <div class="container">
        <h1 class="pb-3 cl">Ordered Products</h1>
        <div class="row">
            {{#each products}}
            {{#if this}}
            <div class="product-card text-center">
                {{#each this}}
                <div class="container-fluid">
                    <div class="row mb-2">

                        <div class="col-3">
                            <div class="row">
                                <img src="/product-image/{{this.product._id}}.jpg" style="width:100px;height:100px"
                                    alt="">
                            </div>
                        </div>
                        <div class="col-3">
                            <p>{{this.product.name}}</p>
                        </div>
                        <div class="col-3  ">
                            <p><span class="amt">{{this.product.price}}</span></p>
                        </div>
                         <div class="col-3">
                             <a href="/view-order-products/{{this._id}}" class="btn button text-white p-1 view-btn" >viw details</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/if}}
            {{/each}}

        </div>
    </div>
    <script>
         function formatIndianAmountInINR(amount) {
  const formatter = new Intl.NumberFormat('en-IN', { style: 'currency', currency: 'INR' });
  const formattedAmount = formatter.format(amount);
  return formattedAmount;
}
  // Get all elements with the class name `amt`.
const amtElements = document.querySelectorAll('.amt');
for (const element of amtElements) {
  const textContent = element.textContent;
  const formattedTextContent = formatIndianAmountInINR(textContent);
  element.textContent = formattedTextContent;
}
    </script>